:root{
    --dark-sidebar-bg: #4d4d53;
    --dark-body-bg: #3d3b42;
    --dark-side-text: rgb(182, 182, 182);
    --side-width: 250px;
    --btn-hover : rgb(96, 117, 235);
    --light-sidebar-bg : #f0effa;
    --light-side-text : #000000;
    --light-body-bg: rgb(252, 252, 252);
}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth !important;
    
}
body{
   
    overflow-x: hidden;
}
#root{
    position: relative;
}
.navbar{
    height: 60px;
    background-color: var(--dark-sidebar-bg);
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.light-mode-navbar{
    color: var(--dark-sidebar-bg) !important;
    background-color: var(--light-sidebar-bg) !important;
}
.light-mode-navbar a{
    color: var(--dark-sidebar-bg) !important;
}


.light-mode-sidebar{
    color: var(--dark-body-bg) !important;
    background-color: var(--light-sidebar-bg) !important;
}
.light-mode-sidebar ul li a{
    color: var(--dark-body-bg) ;
}
.light-mode-sidebar ul li a:hover{
    color: rgb(163, 163, 163);
}
.light-mode-sidebar .dark-mode-btn:hover{
    color: rgb(163, 163, 163);
}


.light-mode-section{
    color: black !important;
    background-color: var(--light-body-bg) !important;
}
.light-mode-section p,.light-mode-section .section h1{
    color: #000 ;
}
.light-mode-section .profile-img{
    border-color:var(--dark-body-bg);
}
.light-mode-section .home-info{
    color: var(--dark-sidebar-bg);
}
.light-mode-section .social-icons > *{
    color: var(--dark-body-bg);
    background-color: var(--light-sidebar-bg);
}
.light-icon{
    color: var(--dark-body-bg) !important;
}


.navbar > * {
    margin: 0 1.5em;
    cursor: pointer;
}
.navbar .fa-bars{
    font-size: 19px;
    user-select: none;
    padding: 10px;
}
.sidebar .fa-times{
    position: absolute;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    top: 11px;
    left: 28px;
    display: none;
    cursor: pointer;
}
.navbar .nav-logo a{
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    font-family:'KoHo', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.sidebar{
    background: var(--dark-sidebar-bg) ;
    color: var(--dark-side-text);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 380px;
    width: var(--side-width);
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    user-select: none;
    box-shadow: -2.5px 0 10px 0 rgba(0, 0, 0, 0.404) ;
    transition: 0.2s ease-in-out;
    overflow: hidden;
}
.sidebar ul li{
    transition: 0.2s ease-in-out;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
    width: max-content;
    letter-spacing: 2.5px;
    margin: 0.7em 0 0 1.5em;
}
.sidebar a{
    text-decoration: none;
    color: var(--dark-side-text);
    transition: none !important;
}
.sidebar ul a:hover,.dark-mode-btn:hover {
    color: #fff;
}
.collapse{
    width: 0 !important;
}
.side-active{
    width: var(--side-width) ;
}
.dark-mode-btn{
    position: absolute;
    bottom: 2em;
    display: flex;
    transform: translate(-50%);
    left: 50%;
    text-transform: capitalize;
    align-items: center;
    cursor: pointer;
    font-family:"koho";
}

.dark-mode-btn .fas{
    background-color: rgb(99, 98, 98);
    padding: 0.5em;
    color: rgb(212, 212, 212);
    border-radius: 50%;
    font-size: 14px;
}
.dark-mode-btn p{
    margin: 0 0.5em;
    font-size: 0.9em;
}
section{
    background: var(--dark-body-bg);
    position: absolute;
    left: var(--side-width);
    /* width: 100%; */
    transition: 0.2s ease-in-out;
    right: 0;
    min-width: 360px;
}
.section{
    height: 95vh;
    min-height: 680px;
    position: relative;
}
.active-main{
    /* width: 100vw; */
    left: 0 !important;
}
.section h1{
    color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    top: 70px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* left: 50%; */
    /* transform: translate(-50%); */
    font-family: "Montserrat",sans-serif;
    width: max-content;
}
.section h1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: -12px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(177, 177, 177);
}
.home-content{
    font-family: "Montserrat",sans-serif;
    color: #fff;
    width: 100%;
    /* margin: auto; */
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.profile-img{
    width: 250px;
    height: 250px;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1002&q=80");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
    border: 7px solid rgb(255, 255, 255);
}
.home-name{
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0 0px 0;
}
.home-info{
    margin: 0px 0 20px 0;
    
}
.resume{
    color: #fff !important;
    background-color: rgb(87, 87, 99);
    width: 170px;
    padding: 10px 0;
    margin: auto;
    cursor: pointer;
    border-radius: 6px;
    font-size: 19px;
    transition: background 0.2s;
    user-select: none;
}
.resume:hover{
    background-color: var(--btn-hover);
}
.social-icons{
    position: relative;
    bottom:-120px;
    left: 50%;
    width: max-content;
    transform: translate(-50%);
}
.social-icons > *{
    line-height: 40px;
    background-color: rgb(87, 87, 99);
    margin: 10px;
    font-size: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
    border-radius: 4px;
    cursor: pointer;
}
.social-icons > *:hover{
    background-color: var(--btn-hover);
    color: #fff;
}

.contact-inputs{
    background-color: red;
    position: relative;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    top: 100px;
}

@media only screen and (max-width: 700px) {
    .fa-times{
        display: block !important;
    }
    .profile-img{
        width: 200px;
        height: 200px;
    }
    /* .sidebar::before{
        content: "";
        position: fixed;
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: rgba(235, 232, 232, 0.418);
    } */
}

